/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }

.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left:auto;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
#slider { width:1191px; height:842px; }
.page-scale-wrap { width:1191px; height:842px; background: #fff !important; }
.paper-vertical { width:1191px; height:100%; }
.paper-horizontal { width:26412px; height:854px; }
@media all and (max-height:842px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:1191px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
@keyframes rotation180dhoraire-16691 {
	0% {
		transform:translate(0px,0px) rotate(-90deg);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) rotate(0deg);
		opacity:0.55;
	}
}
@-webkit-keyframes rotation180dhoraire-16691 {
	0% {
		-webkit-transform:translate(0px,0px) rotate(-90deg);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) rotate(0deg);
		opacity:0.55;
	}
}
#item16691 {
	transform-origin:0% 50%;
	-webkit-transform-origin:0% 50%;
}

@keyframes rotation180dantihoraire-16690 {
	0% {
		transform:translate(0px,0px) rotate(90deg);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) rotate(0deg);
		opacity:0.5;
	}
}
@-webkit-keyframes rotation180dantihoraire-16690 {
	0% {
		-webkit-transform:translate(0px,0px) rotate(90deg);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) rotate(0deg);
		opacity:0.5;
	}
}
#item16690 {
	transform-origin:50% 0%;
	-webkit-transform-origin:50% 0%;
}

@keyframes rotation90dhoraire-8014 {
	0% {
		transform:translate(0px,0px) rotate(-120deg);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px) rotate(0deg);
		opacity:0.6;
	}
}
@-webkit-keyframes rotation90dhoraire-8014 {
	0% {
		-webkit-transform:translate(0px,0px) rotate(-120deg);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px) rotate(0deg);
		opacity:0.6;
	}
}
#item8014 {
	transform-origin:100% 0%;
	-webkit-transform-origin:100% 0%;
}

#item8017 {
	width:587px !important;
	left:302px !important;
	top:342px !important;
	min-height:157px !important;
}

#item8220 {
	width:215px !important;
	left:436px !important;
	top:480px !important;
	min-height:82px !important;
}

#item17970 {
	width:256px !important;
	height:725px !important;
	left:917px !important;
	top:18px !important;
	background:#d3d4cf;
}

#item18171 {
	width:401px !important;
	height:728px !important;
	left:772px !important;
	top:17px !important;
}

#item18183 {
	width:305px !important;
	left:73px !important;
	top:99px !important;
	min-height:115px !important;
}

#item18206 {
	width:305px !important;
	left:74px !important;
	top:41px !important;
	min-height:77px !important;
}

#item18230 {
	width:301px !important;
	left:73px !important;
	top:193px !important;
	min-height:267px !important;
}

@keyframes entréerapideparlehaut-18171 {
	0% {
		transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlehaut-18171 {
	0% {
		-webkit-transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item22308 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item19521 {
	width:364px !important;
	height:417px !important;
	left:425px !important;
	top:-332px !important;
}

#item19740 {
	width:311px !important;
	left:18px !important;
	top:361px !important;
	min-height:28px !important;
}

#item19766 {
	width:304px !important;
	left:18px !important;
	top:191px !important;
	min-height:148px !important;
}

@keyframes entréerapideparlehaut-19521 {
	0% {transform:translate(0px,0px);}
	100% {transform:translate(4px,346px);}
}
@-webkit-keyframes entréerapideparlehaut-19521 {
	0% {-webkit-transform:translate(0px,0px);}
	100% {-webkit-transform:translate(4px,346px);}
}
#item22642 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item19932 {
	width:370px !important;
	height:73px !important;
	left:422px !important;
	top:14px !important;
}

#item19934 {
	width:370px !important;
	height:73px !important;
	left:806px !important;
	top:14px !important;
}

#item19203 {
	width:324px !important;
	left:39px !important;
	top:509px !important;
	min-height:29px !important;
}

#item19226 {
	width:296px !important;
	left:53px !important;
	top:563px !important;
	min-height:300px !important;
}

#item21464 {
	width:85px !important;
	left:26px !important;
	top:452px !important;
	min-height:13px !important;
}

@keyframes entréerapideparlehaut-21673 {
	0% {transform:translate(0px,0px);}
	100% {transform:translate(0px,659px);}
}
@-webkit-keyframes entréerapideparlehaut-21673 {
	0% {-webkit-transform:translate(0px,0px);}
	100% {-webkit-transform:translate(0px,659px);}
}
#item19792 {
	width:364px !important;
	height:726px !important;
}

#item19858 {
	width:311px !important;
	left:18px !important;
	top:671px !important;
	min-height:28px !important;
}

#item19901 {
	width:330px !important;
	left:18px !important;
	top:557px !important;
	min-height:90px !important;
}

#item21639 {
	width:121px !important;
	height:14px !important;
	top:147px !important;
	background:#fff;
}

#item21641 {
	width:112px !important;
	height:14px !important;
	left:164px !important;
	top:147px !important;
	background:#fff;
}

#item21513 {
	width:119px !important;
	left:2px !important;
	top:149px !important;
	min-height:18px !important;
}

#item21537 {
	width:111px !important;
	left:166px !important;
	top:149px !important;
	min-height:18px !important;
}

#item21637 {
	width:139px !important;
	height:14px !important;
	top:322px !important;
	background:#fff;
}

#item21562 {
	width:141px !important;
	left:1px !important;
	top:325px !important;
	min-height:13px !important;
}

#item21635 {
	width:110px !important;
	height:14px !important;
	top:515px !important;
	background:#fff;
}

#item21636 {
	width:107px !important;
	height:14px !important;
	left:182px !important;
	top:515px !important;
	background:#fff;
}

#item21585 {
	width:106px !important;
	left:2px !important;
	top:518px !important;
	min-height:12px !important;
}

#item21610 {
	width:103px !important;
	left:187px !important;
	top:518px !important;
	min-height:12px !important;
}

#item18256 {
	width:401px !important;
	height:728px !important;
	left:773px !important;
	top:17px !important;
}

#item18426 {
	width:305px !important;
	left:73px !important;
	top:99px !important;
	min-height:115px !important;
}

#item18449 {
	width:305px !important;
	left:73px !important;
	top:34px !important;
	min-height:77px !important;
}

#item18473 {
	width:286px !important;
	left:73px !important;
	top:198px !important;
	min-height:504px !important;
}

#item18496 {
	width:298px !important;
	height:247px !important;
	left:76px !important;
	top:162px !important;
}

@keyframes entréerapideparlehaut-18256 {
	0% {
		transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlehaut-18256 {
	0% {
		-webkit-transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item22285 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item9585 {
	width:51px !important;
	left:673px !important;
	top:167px !important;
	min-height:12px !important;
}

#item9608 {
	width:51px !important;
	left:673px !important;
	top:196px !important;
	min-height:12px !important;
}

#item9631 {
	width:78px !important;
	left:673px !important;
	top:224px !important;
	min-height:13px !important;
}

#item9654 {
	width:51px !important;
	left:673px !important;
	top:252px !important;
	min-height:12px !important;
}

#item9677 {
	width:83px !important;
	left:673px !important;
	top:280px !important;
	min-height:12px !important;
}

#item9700 {
	width:83px !important;
	left:673px !important;
	top:307px !important;
	min-height:12px !important;
}

#item9723 {
	width:57px !important;
	left:35px !important;
	top:351px !important;
	min-height:12px !important;
}

#item9993 {
	width:340px !important;
	left:803px !important;
	top:299px !important;
	min-height:94px !important;
}

#item10016 {
	width:233px !important;
	left:857px !important;
	top:259px !important;
	min-height:30px !important;
}

#item10866 {
	width:135px !important;
	left:575px !important;
	top:495px !important;
	min-height:30px !important;
}

#item10889 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:206px !important;
}

#item22619 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item21346 {
	width:12px !important;
	height:12px !important;
	left:17px !important;
	top:451px !important;
}

#item10940 {
	width:340px !important;
	left:803px !important;
	top:299px !important;
	min-height:83px !important;
}

#item10964 {
	width:233px !important;
	left:857px !important;
	top:259px !important;
	min-height:30px !important;
}

#item22596 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item13588 {
	width:172px !important;
	left:557px !important;
	top:529px !important;
	min-height:219px !important;
}

#item21458 {
	width:153px !important;
	left:578px !important;
	top:495px !important;
	min-height:30px !important;
}

#item10792 {
	width:135px !important;
	left:577px !important;
	top:495px !important;
	min-height:30px !important;
}

#item10815 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:214px !important;
}

#item13784 {
	width:340px !important;
	left:803px !important;
	top:300px !important;
	min-height:181px !important;
}

#item13685 {
	width:45px !important;
	left:964px !important;
	top:642px !important;
	min-height:14px !important;
}

#item13708 {
	width:134px !important;
	left:964px !important;
	top:564px !important;
	min-height:14px !important;
}

#item13731 {
	width:134px !important;
	left:964px !important;
	top:684px !important;
	min-height:14px !important;
}

#item13754 {
	width:80px !important;
	left:964px !important;
	top:465px !important;
	min-height:14px !important;
}

#item22573 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item21416 {
	width:233px !important;
	left:857px !important;
	top:259px !important;
	min-height:30px !important;
}

#item15112 {
	width:162px !important;
	left:564px !important;
	top:495px !important;
	min-height:26px !important;
}

#item15135 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:138px !important;
}

#item22550 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item15386 {
	width:2px !important;
	height:15px !important;
	left:129px !important;
	top:566px !important;
	background:#fff;
}

#item18576 {
	width:401px !important;
	height:728px !important;
	left:773px !important;
	top:17px !important;
}

#item18584 {
	width:305px !important;
	left:68px !important;
	top:116px !important;
	min-height:115px !important;
}

#item18607 {
	width:305px !important;
	left:68px !important;
	top:51px !important;
	min-height:77px !important;
}

#item18631 {
	width:286px !important;
	left:68px !important;
	top:215px !important;
	min-height:504px !important;
}

#item18654 {
	width:298px !important;
	height:247px !important;
	left:71px !important;
	top:179px !important;
}

@keyframes entréerapideparlehaut-18576 {
	0% {
		transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlehaut-18576 {
	0% {
		-webkit-transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item22262 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item9442 {
	width:168px !important;
	left:559px !important;
	top:528px !important;
	min-height:256px !important;
}

#item9465 {
	width:355px !important;
	left:795px !important;
	top:299px !important;
	min-height:101px !important;
}

#item9488 {
	width:396px !important;
	left:778px !important;
	top:260px !important;
	min-height:30px !important;
}

#item9511 {
	width:136px !important;
	left:577px !important;
	top:495px !important;
	min-height:30px !important;
}

#item22527 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item12336 {
	width:371px !important;
	left:373px !important;
	top:245px !important;
	min-height:83px !important;
}

#item12735 {
	width:371px !important;
	left:197px !important;
	top:216px !important;
	min-height:83px !important;
}

#item12359 {
	width:342px !important;
	left:803px !important;
	top:689px !important;
	min-height:201px !important;
}

#item12382 {
	width:242px !important;
	left:467px !important;
	top:213px !important;
	min-height:30px !important;
}

#item12405 {
	width:154px !important;
	left:948px !important;
	top:657px !important;
	min-height:30px !important;
}

#item22504 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item5989 {
	width:122px !important;
	left:584px !important;
	top:495px !important;
	min-height:30px !important;
}

#item6012 {
	width:342px !important;
	left:800px !important;
	top:299px !important;
	min-height:84px !important;
}

#item6035 {
	width:149px !important;
	left:893px !important;
	top:259px !important;
	min-height:30px !important;
}

#item6058 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:385px !important;
}

#item22481 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item22458 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item16031 {
	width:867px !important;
	height:478px !important;
	left:133px !important;
	top:194px !important;
}

#item16261 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16258 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:192px !important;
}

#item16266 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16263 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:435px !important;
}

#item16271 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16267 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:286px !important;
}

#item16275 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16272 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:230px !important;
}

#item16279 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16276 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:509px !important;
}

#item16283 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16280 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:621px !important;
}

#item16287 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16284 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:360px !important;
}

#item16292 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16288 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:211px !important;
}

#item16296 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16293 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:472px !important;
}

#item16300 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16297 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:584px !important;
}

#item16304 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16301 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:323px !important;
}

#item16308 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16305 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:248px !important;
}

#item16312 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16309 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:547px !important;
}

#item16316 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16313 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:397px !important;
}

#item16320 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16317 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:453px !important;
}

#item16324 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16321 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:304px !important;
}

#item16328 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16325 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:528px !important;
}

#item16332 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16329 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:379px !important;
}

#item16336 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16333 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:491px !important;
}

#item16340 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16337 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:603px !important;
}

#item16344 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16341 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:341px !important;
}

#item16348 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16345 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:267px !important;
}

#item16354 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16349 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:565px !important;
}

#item16358 {
	width:860px !important;
	height:19px !important;
	left:3px !important;
	top:3px !important;
}

#item16355 {
	width:866px !important;
	height:25px !important;
	left:130px !important;
	top:416px !important;
}

#item15976 {
	width:491px !important;
	left:350px !important;
	top:58px !important;
	min-height:68px !important;
}

#item18731 {
	width:401px !important;
	height:728px !important;
	left:773px !important;
	top:17px !important;
}

#item18749 {
	width:305px !important;
	left:68px !important;
	top:116px !important;
	min-height:115px !important;
}

#item18772 {
	width:305px !important;
	left:68px !important;
	top:51px !important;
	min-height:77px !important;
}

#item18796 {
	width:301px !important;
	left:68px !important;
	top:215px !important;
	min-height:118px !important;
}

@keyframes entréerapideparlehaut-18731 {
	0% {
		transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlehaut-18731 {
	0% {
		-webkit-transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item22235 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item6418 {
	width:500px !important;
	height:279px !important;
	left:17px !important;
	top:463px !important;
	background:#f2f2f2;
}

#item6656 {
	width:340px !important;
	left:803px !important;
	top:299px !important;
	min-height:189px !important;
}

#item6679 {
	width:233px !important;
	left:857px !important;
	top:259px !important;
	min-height:30px !important;
}

#item7422 {
	width:94px !important;
	left:598px !important;
	top:495px !important;
	min-height:30px !important;
}

#item7445 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:219px !important;
}

#item22435 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item22165 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item7562 {
	width:115px !important;
	left:587px !important;
	top:495px !important;
	min-height:30px !important;
}

#item7585 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:214px !important;
}

#item14327 {
	width:340px !important;
	left:803px !important;
	top:299px !important;
	min-height:189px !important;
}

#item14350 {
	width:233px !important;
	left:857px !important;
	top:259px !important;
	min-height:30px !important;
}

#item20864 {
	width:1191px !important;
	height:842px !important;
	background:#fcf8f1;
}

#item20530 {
	width:591px !important;
	height:675px !important;
	left:359px !important;
	top:68px !important;
}

#item20990 {
	width:25px !important;
	height:25px !important;
	left:392px !important;
	top:363px !important;
}

#item20610 {
	width:21px !important;
	height:21px !important;
	left:394px !important;
	top:365px !important;
}

#item20544 {
	width:25px !important;
	height:25px !important;
	left:597px !important;
	top:532px !important;
}

#item20628 {
	width:25px !important;
	height:25px !important;
	left:597px !important;
	top:532px !important;
}

#item20579 {
	width:25px !important;
	height:25px !important;
	left:597px !important;
	top:532px !important;
}

#item20552 {
	width:25px !important;
	height:25px !important;
	left:392px !important;
	top:363px !important;
}

#item20616 {
	width:25px !important;
	height:25px !important;
	left:392px !important;
	top:363px !important;
}

#item20558 {
	width:25px !important;
	height:25px !important;
	left:559px !important;
	top:267px !important;
}

#item20586 {
	width:25px !important;
	height:25px !important;
	left:559px !important;
	top:155px !important;
}

#item20563 {
	width:25px !important;
	height:25px !important;
	left:822px !important;
	top:374px !important;
}

#item20546 {
	width:25px !important;
	height:25px !important;
	left:722px !important;
	top:284px !important;
}

#item20569 {
	width:31px !important;
	height:31px !important;
	left:720px !important;
	top:281px !important;
}

#item20596 {
	width:31px !important;
	height:31px !important;
	left:557px !important;
	top:152px !important;
}

#item21240 {
	width:491px !important;
	left:350px !important;
	top:58px !important;
	min-height:68px !important;
}

#item22188 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item22211 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item18921 {
	width:401px !important;
	height:728px !important;
	left:774px !important;
	top:17px !important;
}

#item19083 {
	width:305px !important;
	left:68px !important;
	top:116px !important;
	min-height:115px !important;
}

#item19106 {
	width:305px !important;
	left:68px !important;
	top:51px !important;
	min-height:77px !important;
}

#item19130 {
	width:286px !important;
	left:68px !important;
	top:215px !important;
	min-height:504px !important;
}

#item19153 {
	width:298px !important;
	height:247px !important;
	left:71px !important;
	top:179px !important;
}

@keyframes entréerapideparlehaut-18921 {
	0% {
		transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlehaut-18921 {
	0% {
		-webkit-transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item14547 {
	width:401px !important;
	height:725px !important;
	left:772px !important;
	top:17px !important;
	background:#e6e7e8;
}

#item14562 {
	width:115px !important;
	left:585px !important;
	top:498px !important;
	min-height:30px !important;
}

#item14585 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:181px !important;
}

#item22412 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item14491 {
	width:156px !important;
	left:571px !important;
	top:499px !important;
	min-height:30px !important;
}

#item14514 {
	width:162px !important;
	left:562px !important;
	top:529px !important;
	min-height:216px !important;
}

#item22389 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item21093 {
	width:794px !important;
	height:680px !important;
	left:126px !important;
	top:40px !important;
}

#item21149 {
	width:93px !important;
	height:117px !important;
	left:1082px !important;
	top:14px !important;
}

#item21939 {
	width:87px !important;
	height:111px !important;
	left:33px !important;
	top:3px !important;
}

#item21121 {
	width:87px !important;
	height:111px !important;
	left:33px !important;
	top:3px !important;
}

#item21152 {
	width:154px !important;
	height:118px !important;
	left:1051px !important;
	top:132px !important;
}

#item21157 {
	width:93px !important;
	height:117px !important;
	left:1082px !important;
	top:252px !important;
}

#item21160 {
	width:93px !important;
	height:117px !important;
	left:1082px !important;
	top:378px !important;
}

#item21188 {
	width:93px !important;
	height:117px !important;
	left:1082px !important;
	top:503px !important;
}

#item21913 {
	width:93px !important;
	height:117px !important;
	left:1082px !important;
	top:629px !important;
}

#item22366 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item22343 {
	width:27px !important;
	left:612px !important;
	top:800px !important;
	min-height:13px !important;
}

#item9007 {
	width:305px !important;
	left:638px !important;
	top:106px !important;
	min-height:67px !important;
}

@keyframes entréerapideparladroite-9007 {
	0% {
		transform:translate(124px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparladroite-9007 {
	0% {
		-webkit-transform:translate(124px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item9035 {
	width:317px !important;
	left:640px !important;
	top:228px !important;
	min-height:582px !important;
}

@keyframes entréerapideparlagauche-9035 {
	0% {
		transform:translate(-99px,0px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes entréerapideparlagauche-9035 {
	0% {
		-webkit-transform:translate(-99px,0px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}#in5footer,  #prefooter {display:none;}
